@model ParkyWeb.Models.ViewModel.TrailsVM

@{
    var title = "Create Trail";
}

<form method="post" asp-action="Upsert">
    <div class="card border-success mb-3 p-4 rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (Model.Trail.Id != 0)
        {
            <input type="hidden" asp-for="Trail.Id"/>
            title = "Edit Trail";
        }

        <div class="col-12">
            <h2 class="text-primary">@title</h2>
        </div>

        <div class="col-8">
            <div class="form-group row mt-4">
                <div class="col-4">
                    <label class="form-label">National Park</label>
                </div>
                <div class="col-8">
                    <!-- 1st param is the selected value, 2nd param is the list, 3rd param is default, 4th param is class -->
                    @Html.DropDownListFor(m => m.Trail.NationalParkId, Model.NationalParkList,
                        "-- Please select a park --", new { @class = "form-control form-select" })
                    <span asp-validation-for="Trail.NationalParkId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mt-4">
                <div class="col-4">
                    <label asp-for="Trail.Name" class="form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Trail.Name" class="form-control">
                    <span asp-validation-for="Trail.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mt-4">
                <div class="col-4">
                    <label asp-for="Trail.Difficulty" class="form-label"></label>
                </div>
                <div class="col-8">
                    <select asp-for="Trail.Difficulty" asp-items="Html.GetEnumSelectList<Trail.DifficultyType>()"
                            class="form-control form-select">
                    </select>
                </div>
            </div>

            <div class="form-group row mt-4">
                <div class="col-4">
                    <label asp-for="Trail.Distance" class="form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Trail.Distance" class="form-control">
                    <span asp-validation-for="Trail.Distance" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mt-4">
                <div class="col-4">
                    <label asp-for="Trail.Elevation" class="form-label"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Trail.Elevation" class="form-control">
                    <span asp-validation-for="Trail.Elevation" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mt-4">
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-info form-control">
                        @(Model.Trail.Id == 0 ? "Create" : "Update")
                    </button>
                </div>

                <div class="col-4">
                    <a asp-action="Index" class="btn btn-dark form-control">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</form>